$color-main-text: #1d1d1d;
$color-main-color: #10c9c3;
$color-main-white: #ffffff;
$color-main-grey: #787878;
$color-forskills-one: #f8f9f9;
$color-forskills-two: #e9e9e9;
$color-for-textskill: #000000;
$color-for-services: #f5f5f5;
$color-for-titleservices: #191919;

$fonts-for-nav: 'Montserrat';
$fonts-for-description: 'Nunito Sans';
